@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
	font-size: 100%;
}

body {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    line-height: 1.1;
    background-color: #242424;
    color: white;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1 { font-size: 3.1rem; font-weight: 800; }  
h2 { font-size: 2.7rem; }  
h3 { font-size: 2.3rem; }  
h4 { font-size: 1.8rem; }  
h5 { font-size: 1.4rem; }  
h6 { font-size: 1rem; }

p {  
	margin: 1.5rem 0; 
	font-size: 1rem;
}

.bg-body-tertiary {
    background-color: #242424;
}

header {
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));
}

header img {
    float: left;
}

.navig {
    float: right;
}

.navig li {
    display: inline-block;
    margin: 0 1.1rem;
}

.navig li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
}

.navig li a:hover {
    color: #fadca6;
}

.hlslider {
    position: relative;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.pozadie {
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.popis {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.popis h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding-bottom: 1.5rem;
}

.popis a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    border: 3px solid #fadca6;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 3rem;
    transition: all 0.3s;
    font-size: 20px;
}

.popis a:hover {
    background-color: #fadca6;
}

.popis a:hover i, .popis a:hover .text{
    color: #065143;
    opacity: 1;
    transform: none;
}

.popis i {
    opacity: 0;
    transform: translateX(-0.8rem);
    transition: all 0.3s;
}

span.text {
    display: inline-block;
    transform: translateX(0.8rem);
    transition: all 0.3s;
}

/* ponuka */

.ponuka {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: repeat(9,1fr);
    justify-content: space-between;
    margin-bottom: 1rem;
}

.karta {
    position: relative;
    margin-bottom: 1rem;
    background-color: #1a1a1a;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.karta img {
    border-radius: 50%;
    height: 300px;
    margin-left: 15px;
    margin-top: 15px;
}

.karta p, .karta h5 {
    margin-left: 1rem;
}

.karta h5 {
    margin-top: 1rem;
}

.karta a {
    text-decoration: none;
    color: #065143;
    background-color: #fadca6;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.karta a:hover {
    background-color: #129490;
}

/* kontakt */
.kontakt {
    margin-bottom: 1rem;
}

.kontakt a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.kontakt i {
    transition: all 0.3s;
}

.kontakt span {
    transition: all 0.3s;
}

.kontakt a:hover i {
    color: #fadca6;
}

.kontakt a:hover span {
    color: #fadca6;
}

/* footer */

footer {
    padding: 5rem;
    background-color: black;
    bottom: 0;
    left: 0;
    text-align: center;
}

.ikonky a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    color: #fadca6;
    border: 0.2rem solid #fadca6;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 0.2rem;
    transition: all 0.5s;
    box-sizing: content-box;
}

.ikonky i {
    transition: all 0.5s;
}

.ikonky a:hover {
    background-color: #fadca6;
}

.ikonky a:hover i {
    color: #065143;
    transform: rotateY(360deg);
}

/* hore */
.hore a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0.2rem solid #fadca6;
    text-align: center;
    color: #fadca6;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-sizing: content-box;
    transition: all 0.3s;
}

.hore i {
    transition: all 0.3s;
}

.hore a:hover {
    background-color: #fadca6;
}

.hore a:hover i {
    color: #065143;
    transform: rotateY(180deg);
}

@media all and (min-width: 711px) {

    .resp_logo {
        display: none;
    }

    .resp_menu {
        display: none;
    }

    .resp_menu_close {
        display: none;
    }

    .resp_menu_open {
        display: none;
    }
}


/* 730px 1050px */

@media all and (max-width: 1050px) {
    .karta img {
        height: 270px;
    }

    .ponuka {
        grid-template-columns: 300px 300px 300px;
    }
}

@media all and (max-width: 950px) {
    .karta img {
        height: 250px;
    }

    .ponuka {
        grid-template-columns: 280px 280px 280px;
    }
}

@media all and (max-width: 900px) {
    .ponuka {
        grid-template-columns: 260px 260px 260px;
    }

    .karta img {
        height: 230px;
    }
}

@media all and (max-width: 830px) {
    .ponuka {
        grid-template-columns: 330px 330px;
    }

    .karta img {
        height: 300px;
    }
}

@media all and (max-width: 710px) {
    .ponuka {
        grid-template-columns: 300px 300px;
    }

    .karta img {
        height: 270px;
    }

    header {
        display: none;
    }

    .resp_menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #242424;
        border-bottom: 2px solid white;
        transition: all 0.5s;
        transform: translate(0%,-100%);
    }

    .resp_menu h5 {
        margin: 1rem;
        color: #fadca6;
    }

    .resp_menu ul {
        padding: 0;
    }

    .resp_menu li {
        margin: 1rem 0;
        font-weight: 600;
    }

    .resp_menu a {
        text-decoration: none;
        color: white;
    }

    .resp_menu_close {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.8rem;
        margin-right: 2rem;
        font-size: 25px; 
    }

    .resp_menu_open a {
        position: fixed;
        top: 0;
        right: 0;
        text-decoration: none;
        color: #fadca6;
        font-size: 30px;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .resp_logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1rem;
        margin-left: 1rem;
    }

}

@media all and (max-width: 660px) {
    .ponuka {
        grid-template-columns: 330px;
        justify-content: center;
    }

    .karta img {
        height: 300px;
    }
}